<div class="main-wrapper">
  <div class="product-box">
    <div class="product-preview">
      <ui-photo-carousel [photos]="product.photos"></ui-photo-carousel>
      <div>
        <h4>Descripción</h4>
        <p>EVOD 900 mah Kit para principiantes.

          Evod ventaja clearomizer: 
          1. Bobina Reemplazable
          2. diseño de bobina inferior.
          3. Enorme Vapor, Sin olor a quemado.
          4. Fácil de recarga y limpieza
          5. rosca eGo Evod
          6. compatible con eGo-T, eGo-C, eGo-V, Serie 510. </p>
      </div>
      <div>
        <h4>Contiene</h4>
       <p>Un juego contiene: <br>
        - Baterías 2 pcs  <br>
        - Cargador de pared de las PC 1  <br>
        - Caso del ego de las PC 1  <br>
        - Pcs Manual 1  <br>
        - Atomizadores Evod 2 piezas  <br>
        - Cargador USB de las PC 1  <br>
        - Tapa de pulverización de 2 PC <br></p>
      </div>
    </div>
    <div class="product-info">
      <div class="title"><h3>{{ product.title }}</h3></div>
      <div class="sub-title">{{ product.description }}</div>
      <div class="price-box">
        <div class="price">
          {{ product.price }}$
        </div>
        <div class="rating">
          <ui-rating [value]="3"></ui-rating>
        </div>
      </div>
      <div class="color-box">
        <p>Select color</p>
        <button [uiButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'1'"
                [style.background]="'#ccc'"></button>
        <button [uiButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'2'"
                [style.background]="'#000C48'"></button>
        <button [uiButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'3'"
                [style.background]="'#883C73'"></button>
      </div>
  
      <div class="quantity">
        <ui-qt-input [ngModel]="1"></ui-qt-input>
      </div>
      <button class="add" onclick="alert(&quot;Producto agregado al carrito&quot;)" value="Click Aquí para ver el ALERTA" routerLink="/bag"[uiButton] [icon]="'cart'">Añadir a carrito</button>
   
      <div>
        <h4>Información de Entrega</h4>
        <p>llegara 2-5 dias habiles a tu domicilio<br> Y se pagara al momento de entrega</p>
      </div>
      <div>
        <h4>Politica de Devolucion</h4>
        <p>1 mes de garantia por defecto de fabrica</p>
      </div>
    </div>
  </div>
  <div class="recently-viewed">
    <h4>Visto Recientemente:</h4>
    <div class="list-cards">
      <app-card *ngFor="let product of recent" [product]="product"></app-card>
    </div>
  </div>
</div>
