<div class="filter-section">
  <div class="head">
    <div>
      <div class="title">Refine <a class="clear-all" href="">  Borrar Todos</a></div>
    </div>
    <div class="chosen-box">
      <div>
        <a href="">
          <span class="icon"></span>
          <span class="selected-type">Categoria:</span> KIT'S
        </a>
      </div>
    </div>
  </div>

  <div>
    <ui-side-menu>
      <ui-side-menu-group>
        <div class="title">Categoria</div>
        <ui-side-menu-sub>
          <div class="type-box">
            <div>
              <label>
                <input [uiInput] type="checkbox">
                <span>Mods</span>
              </label>
            </div>
            <div><label>
              <input [uiInput] type="checkbox">
              <span>Claromizadores</span> </label>
            </div>
            <div><label>
              <input [uiInput] type="checkbox" checked>
              <span>Kit's</span> </label>
            </div>
            <div><label>
              <input [uiInput] type="checkbox">
              <span>Consumibles</span> </label>
            </div>
            <div><label>
              <input [uiInput] type="checkbox">
              <span>Liquidos</span> </label>
            </div>
            <div><label>
              <input [uiInput] type="checkbox">
              <span>Accesorios</span> </label>
            </div>
          </div>
        </ui-side-menu-sub>
      </ui-side-menu-group>
    </ui-side-menu>
  </div>

  
  <div>
    <div class="title">Color</div>
    <div class="color-box">
      <button [uiButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'1'"
              [style.background]="'#ccc'"></button>
      <button [uiButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'2'"
              [style.background]="'#000C48'"></button>
      <button [uiButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'3'"
              [style.background]="'#883C73'"></button>
      <button [uiButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'4'"
              [style.background]="'#AC9934'"></button>
      <button [uiButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'5'"
              [style.background]="'#3A8D1A'"></button>
      <button [uiButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'6'"
              [style.background]="'#51B07E'"></button>
    </div>
  </div>

  <div>
    <div class="title">Price</div>
    <ui-slider [range]="true" [ngModel]="[10, 50]"></ui-slider>
  </div>

</div>

