<footer>
  <div class="main-wrapper">
    <div class="footer">
      <div>
        <ul>
          <li>
            <h4>Acerca de Nice Vaping</h4>
          </li>
          <li>
            <a href="">
              Nuestra Historia
            </a>
          </li>
          <li><a href="">
             Socios y Afiliados
          </a>
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <li>
            <h4>Servicio al cliente</h4>
          </li>
          <li>
            <a href="">
              Contactenos
            </a>
          </li>
          <li><a href="">
            Instrucciones de Entrega
          </a>
          </li>
          <li><a href="">
            Ayuda
          </a>
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <li>
            <h4>Terminos y Condiciones</h4>
          </li>
          <li>
            <a href="">
               Información de Cookie
            </a>
          </li>
          <li><a href="">
            Politicas de Privacidad
          </a>
          </li>
        </ul>
      </div>

        <div class="copyright">
          <p>HORUS DEVELOPMENT© 2018</p>
        </div>
    </div>
  </div>
</footer>
