<div class="main-wrapper">
  <h1>Carrito</h1>
  <p>La cantidad total sera pagada al momento de entrega</p>
  <table class="basket-table">
    <thead class="panel-head">
    <tr>
      <th class="description">
        Productos
      </th>
      <th class="price">
        Precio
      </th>
      <th class="quantity">
        Cantidad 
      </th>
      <th class="subtotal">
        Subtotal
      </th>
      <th class="remove">
        &nbsp;
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="product-item">
      <td class="description">
        <div class="container">
          <div class="product-photo">
            <img src="../../../assets/p1-1.jpg">
          </div>
          <div>
            <p class="product-name">EVOD 900mah Ah kit doble            </p>
            <p class="availability">En existencia / Precio sin IVA </p>
          </div>
        </div>
      </td>
      <td class="price">$600</td>
     
      <td class="quantity">
        <ui-qt-input [ngModel]="1"></ui-qt-input>
      </td>
      <td class="subtotal">$600</td>
      <td class="remove">
        x
      </td>
    </tr>

    </tbody>
    <tfoot>
    <tr>
      <td class="total-label" colspan="3">Total:</td>
      <td class="total-value">$696</td>
      <td class="remaining"></td>
    </tr>
    </tfoot>
  </table>
  <div class="basket-button">
    <button class="checkout" ng-click="kkulo()" onclick="alert(&quot;Pedido enviado a Nice Vaping&quot;)" value="Click Aquí para ver el ALERTA" routerLink="../home">Enviar pedido a Nice Vaping</button>

  </div>
</div>
